{# home.html #}
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="{{ url_for('example.home_page')}}" class="btn btn-info"><= Regresar</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                {{ render_form(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
